node_modules
.vscode
pnpm-lock.yaml

web/build
web/dist
web/public
web/src/types/auto-imports.d.ts
web/src/types/components.d.ts
web/src-tauri
web/postcss.config.js
web/tailwind.config.js

server/build
server/dist
server/documentation
server/storage
server/src/generated
server/src/prisma/generated
server/src/prisma/migrations

docs/.nuxt
docs/.output
docs/dist

# 测试文件暂时不做校验
*spec.ts
*test.ts
