.cspell
.husky
.vscode
pnpm-lock.yaml
CONTRIBUTORS.md

web/build
web/dist
web/public
web/auto-imports.d.ts
web/components.d.ts
web/src-tauri

server/build
server/dist
server/storage
server/src/prisma/generated
server/src/prisma/migrations

docs/.nuxt
docs/.output
docs/dist
