.cspell
.husky
.vscode
pnpm-lock.yaml
CONTRIBUTORS.md
**/dist
**/node_modules
*.json

web/build
web/dist
web/public
web/src/types/auto-imports.d.ts
web/src/types/components.d.ts
web/src-tauri

server/build
server/dist
server/storage
server/src/prisma/generated
server/src/prisma/migrations

docs/.nuxt
docs/.output
docs/dist
